.flower{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}

@media only screen and (max-width: 600px) {
    .header{
        overflow: hidden;
    }
    .flower{
        grid-template-columns: 1fr;
    }
}